@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --error-color: #D73328;
    --bg-color: #FFFFFF;
    --primary-color-900: #133041;
    --primary-color-700: #4E6E7E;
    --primary-color-500: #6B94A8;
    --primary-color-300: #9ABED5;
    --primary-color-100: #E4F4FD;
    --secondary-color: #D8DB2F;
    --secondary-color-hsl: hsla(61, 70%, 52%, 0.15);
    --secondary-color-hsl-fifty-percent: hsla(61, 70%, 52%, 0.5);
    /*colors in hover state are 50% opacity reg color*/
    /* --text-preset-3 {
        font-size: 18px;
        line-height: 125%;
        letter-spacing: -1px;
        font-weight: bold;
        font-style: normal;
    } */
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans';

    div.form {
        padding: var(--spacing-400) var(--spacing-300);

        /*text preset 1 */
        p.tp-1 {
            font-size: 56px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
        }

        p.tp-2 {
            font-size: 24px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
            color: var(--primary-color-900);
        }

        p.tp-3 {
            font-size: 18px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
        }

        p.tp-4, a.tp-4 {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0;
            font-weight: normal;
            font-style: normal;
            color: var(--primary-color-700);
        }

        a.tp-4 {
            text-decoration: 1px underline var(--primary-color-700);
            vertical-align: top;   
            text-underline-offset:2px;         
        }

        p.tp-5 {
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0;
            font-weight: normal;
            font-style: normal;
        }

        div.form-title-bar {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p.tp-2 {
                margin: 0;
            }
        }

        div.form-fields {
            display: flex;
            flex-direction: column;
            padding-top: var(--spacing-300);
            padding-bottom: var(--spacing-300);
            gap: var(--spacing-300);

            div.mortgage-amount, div.mortgage-term, div.interest-rate, div.mortgage-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-150);


                p {
                    margin: 0;
                }
            }
            .input-box, .radio-input-box {
                display: flex;
                align-items: center;
                max-width: 300px;
                border: 2px solid var(--primary-color-500);
                opacity: 100%;
                border-radius: 4px;
                /* padding-left: 0.5rem; */
                overflow: hidden;
            }

            .input {
                color: var(--primary-color-700);
                background-color: var(--primary-color-100);
            }

            .prefix, .suffix {
                height: 100%;
                padding: 0.8rem;
                color: var(--primary-color-700);
                background-color: var(--primary-color-100);
                line-height: 125%;
                font-size: 18px;
                letter-spacing: 0;
                font-weight: bold;
                font-style: normal;
            }
              
            .input-box input {
                flex-grow: 1;
                font-size: 14px;
                background: #fff;
                border: none;
                outline: none;
                padding: 0.5rem;
                font-size: 18px;
                line-height: 125%;
                letter-spacing: 1px;
                font-weight: bold;
                font-style: normal;
                color: var(--primary-color-900);
            }

            .input-box:hover {
                border: 2px solid var(--primary-color-900);
                opacity: 100%;
            }

            .input-box:focus-visible, .input-box:active, .input-box:focus-within {
                border: 2px solid var(--secondary-color);
                opacity: 100%;

                /* change  prefix and suffix bg and text color on focus/active state*/
                .prefix, .suffix {
                    color: var(--primary-color-900);
                    background-color: var(--secondary-color);
                }
            }

            .input-box:invalid {
                border: 2px solid var(--error-color);
                opacity: 100%;

                /* change  prefix and suffix bg and text color on focus/active state*/
                .prefix, .suffix {
                    color: var(--bg-color);
                    background-color: var(--error-color);
                }
            }

            .input-box:active {
                border: 2px solid var(--secondary-color);
                opacity: 100%;
            }

            /* input, div.radio-input-box {
                border: 1px solid var(--primary-color-500);
                opacity: 100%;
            } */

            /* input:hover, div.radio-input-box:hover {
                border: 1px solid var(--primary-color-900);
                opacity: 100%;
            } */

            /* input.text-box:focus-visible, div.radio-input-box:focus-visible {
                border: 1px solid var(--secondary-color) !important;
                opacity: 100% !important;
            } */

        

            input.text-box, div.radio-input-box {
                width: 100%;
                border-radius: 4px;
            }

            div.mortgage-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-100);

                div.radio-input-box {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                    gap: var(--spacing-200);
                    /* padding-left: var(--spacing-150); */
                    /* padding: var(--spacing-100) 0 var(--spacing-150) var(--spacing-150); */
                    height: 100%;
                    padding: var(--spacing-100) !important;
                    accent-color: green;


                    input {
                        width: 20px;
                        height: 20px;
                        line-height: 125%;
                        margin: 0;
                        accent-color: var(--secondary-color);

                    }

                    label {
                        color: var(--primary-color-900);
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 125%;
                        letter-spacing: 0;
                    }
                }

                .radio-input-box:active, .radio-input-box:focus-visible, div.radio-input-box:focus-within {
                    border: 2px solid var(--secondary-color);
                    background-color: var(--secondary-color-hsl);
                    color: var(--primary-color-900);
                }

                .radio-input-box:hover {
                    border: 2px solid var(--secondary-color);
                }
    
            }



            /* button.calculate-btn { */
                /* background-color: var(--secondary-color);
                color: var(--primary-color-900);
                border: 1px solid var(--secondary-color);
                border-radius: 999px;
                /* padding: var(--spacing-300) var(--spacing-500); */
                /* height: auto;
                width: 100%; */
    


      
            /* } */

            div.btn-div {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary-color);
                color: var(--primary-color-900);
                border: 1px solid var(--secondary-color);
                border-radius: 999px;
                height: auto;
                width: 100%;

                p {
                    letter-spacing: 0;
                }
            }

            div.btn-div:hover {
                cursor: pointer;
                background-color: var(--secondary-color-hsl-fifty-percent);
                border: 1px solid var(--secondary-color-hsl-fifty-percent);
            }
        }


    
    }

}


