@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --error-color: #D73328;
    --bg-color: #FFFFFF;
    --primary-color-900: #133041;
    --primary-color-700: #4E6E7E;
    --primary-color-500: #6B94A8;
    --primary-color-300: #9ABED5;
    --primary-color-100: #E4F4FD;
    --secondary-color: #D8DB2F;
    /*colors in hover state are 50% opacity reg color*/
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans';

    div.form {
        padding: var(--spacing-400) var(--spacing-300);

        /*text preset 1 */
        p.tp-1 {
            font-size: 56px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
        }

        p.tp-2 {
            font-size: 24px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
            color: var(--primary-color-900);
        }

        p.tp-3 {
            font-size: 18px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
        }

        p.tp-4, a.tp-4 {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0;
            font-weight: normal;
            font-style: normal;
            color: var(--primary-color-700);
        }

        a.tp-4 {
            text-decoration: 1px underline var(--primary-color-700);
            vertical-align: top;   
            text-underline-offset:2px;         
        }

        p.tp-5 {
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0;
            font-weight: normal;
            font-style: normal;
        }

        div.form-title-bar {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p.tp-2 {
                margin: 0;
            }
        }

        div.form-fields {
            display: flex;
            flex-direction: column;
            padding-top: var(--spacing-300);
            padding-bottom: var(--spacing-300);
            gap: var(--spacing-300);

            div.mortgage-amount, div.mortgage-term, div.interest-rate, div.mortgage-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-150);


                p {
                    margin: 0;
                }
            }

            input, div.radio-input-box {
                border: 1px solid var(--primary-color-500);
                opacity: 100%;
            }

            input:hover, div.radio-input-box:hover {
                border: 1px solid var(--primary-color-900);
                opacity: 100%;
            }

            input.text-box:focus-visible, div.radio-input-box:focus-visible {
                border: 1px solid var(--secondary-color) !important;
                opacity: 100% !important;
            }

            input.text-box, div.radio-input-box {
                width: auto;
                height: 40px;
                border-radius: 4px;
            }

            div.mortgage-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-100);

                div.radio-input-box {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    padding-left: var(--spacing-200);
                    padding-right: var(--spacing-200);                     align-items: center;
                    gap: var(--spacing-200);

                    input {
                        width: 20px;
                        height: 20px;
                    }

                    label {
                        color: var(--primary-color-900);
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 125%;
                        letter-spacing: 0;
                    }
                }
            }



            input.radio-btn {

            }
        }


    
    }

}


