@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --error-color: #D73328;
    --bg-color: #FFFFFF;
    --primary-color-900: #133041;
    --primary-color-700: #4E6E7E;
    --primary-color-500: #6B94A8;
    --primary-color-300-hsl: hsl(203, 41%, 72%, .25);
    --primary-color-300: #9ABED5;
    --primary-color-100: #E4F4FD;
    --secondary-color: #D8DB2F;
    --secondary-color-hsl: hsla(61, 70%, 52%, 0.15);
    --secondary-color-hsl-fifty-percent: hsla(61, 70%, 52%, 0.5);
    /*colors in hover state are 50% opacity reg color*/
    /* --text-preset-3 {
        font-size: 18px;
        line-height: 125%;
        letter-spacing: -1px;
        font-weight: bold;
        font-style: normal;
    } */
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans';

    form {
        padding: var(--spacing-400) var(--spacing-300);

        /*text preset 1 */
        p.tp-1 {
            font-size: 56px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
        }

        p.tp-2 {
            font-size: 24px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
            color: var(--primary-color-900);
        }

        p.tp-3 {
            font-size: 18px;
            line-height: 125%;
            letter-spacing: -1px;
            font-weight: bold;
            font-style: normal;
        }

        p.tp-4, a.tp-4 {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0;
            font-weight: normal;
            font-style: normal;
            color: var(--primary-color-700);
        }

        a.tp-4 {
            text-decoration: 1px underline var(--primary-color-700);
            vertical-align: top;   
            text-underline-offset:2px;         
        }

        p.tp-5 {
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0;
            font-weight: normal;
            font-style: normal;
        }

        div.form-title-bar {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p.tp-2 {
                margin: 0;
            }

            a#clearAll:hover {
                cursor: pointer;
            }
        }

        div.form-fields {
            display: flex;
            flex-direction: column;
            padding-top: var(--spacing-300);
            padding-bottom: var(--spacing-300);
            gap: var(--spacing-300);

            div.mortgage-amount, div.mortgage-term, div.interest-rate, div.mortgage-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-150);

                p {
                    margin: 0;
                }
            }

            .input-box, .radio-input-box {
                display: flex;
                align-items: center;
                border: 2px solid var(--primary-color-500);
                opacity: 100%;
                border-radius: 4px;
                overflow: hidden;
            }

            .input {
                color: var(--primary-color-700);
                background-color: var(--primary-color-100);
            }

            .prefix, .suffix {
                height: 100%;
                padding: 0.8rem;
                color: var(--primary-color-700);
                background-color: var(--primary-color-100);
                line-height: 125%;
                font-size: 18px;
                letter-spacing: 0;
                font-weight: bold;
                font-style: normal;
            }
              
            .input-box input {
                flex-grow: 1;
                font-size: 14px;
                background: #fff;
                border: none;
                outline: none;
                padding: 0.5rem;
                font-size: 18px;
                line-height: 125%;
                letter-spacing: 1px;
                font-weight: bold;
                font-style: normal;
                color: var(--primary-color-900);
            }

            .input-box:hover {
                border: 2px solid var(--primary-color-900);
                opacity: 100%;
            }

            .input-box:focus-visible, .input-box:active, .input-box:focus-within {
                border: 2px solid var(--secondary-color);
                opacity: 100%;

                /* change  prefix and suffix bg and text color on focus/active state*/
                .prefix, .suffix {
                    color: var(--primary-color-900);
                    background-color: var(--secondary-color);
                }
            }

            div.invalid, div.invalid:hover, div.invalid:focus-within {
                border: 2px solid var(--error-color);
                opacity: 100%;

                /* change  prefix and suffix bg and text color on focus/active state*/
                .prefix, .suffix {
                    color: var(--bg-color);
                    background-color: var(--error-color);
                }
            }

            p.error {
                color: var(--error-color);
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0;
                font-weight: normal;
                font-style: normal;
            }

            .input-box:active {
                border: 2px solid var(--secondary-color);
                opacity: 100%;
            }

            input.text-box {
                width: 100%;
                border-radius: 4px;
            }

            div.mortgage-type {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-150);

                div.radio-input-box {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                    gap: var(--spacing-200);
                    height: 100%;
                    padding: var(--spacing-150) var(--spacing-200) !important;
                    accent-color: var(--secondary-color);


                    input {
                        width: 20px;
                        height: 20px;
                        line-height: 125%;
                        margin: 0;

                    }

                    input:active, input:focus-within {
                        accent-color: var(--secondary-color);
                    }

                    label {
                        color: var(--primary-color-900);
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 125%;
                        letter-spacing: 0;
                    }
                }

                .radio-input-box:active, .radio-input-box:focus-visible, div.radio-input-box:focus-within {
                    border: 2px solid var(--secondary-color);
                    background-color: var(--secondary-color-hsl);
                    color: var(--primary-color-900);
                }

                .radio-input-box:hover {
                    border: 2px solid var(--secondary-color);
                }
    
            }

            div.btn-div {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary-color);
                color: var(--primary-color-900);
                border: 1px solid var(--secondary-color);
                border-radius: 999px;
                height: auto;
                width: 100%;

                p {
                    letter-spacing: 0;
                }
            }

            div.btn-div:hover {
                cursor: pointer;
                background-color: var(--secondary-color-hsl-fifty-percent);
                border: 1px solid var(--secondary-color-hsl-fifty-percent);
            }
        }
    }

    div.results {
        background-color: var(--primary-color-900);
        height: auto;
        opacity: 100%;
        display: flex;
        flex-direction: column;
        padding: var(--spacing-400) var(--spacing-300);
        gap: var(--spacing-300);


        div#resultsEmpty {

            div.title-bar{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-200);
                align-items: center;
    
    
                img {
                    height: 192px;
                    width: 192px;
                }
    
                
                p.tp-2 {
                    font-size: 24px;
                    line-height: 125%;
                    font-style: normal;
                    font-weight: bold;
                    color: var(--bg-color);
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }
    
                p.tp-4 {
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0;
                    font-style: normal;
                    color: var(--primary-color-300);
                    height: auto;
                    text-align: center;
                    margin: 0;
                    font-weight:100;
                }
    
            }
        }

        div#resultsComplete {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-300);

            div.title-bar{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-200);
                align-items: left;

                p.tp-2 {
                    color: var(--bg-color);
                    font-size: 24px;
                    line-height: 125%;
                    font-weight: bold;
                    margin: 0;
                }

                p.tp-4 {
                    color: var(--primary-color-300);
                    font-size: 16px;
                    line-height: 150%;
                    font-weight: normal;
                    margin: 0;
                }
            }

            div.payment-results {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-200);
                align-items: left;
                border-radius: 8px;
                border-top: 4px solid var(--secondary-color);
                background-color: hsla(0, 0%, 0%, .25);
                padding: var(--spacing-300) var(--spacing-200);

                div.separator {
                    height: 1px;
                    background-color: var(--primary-color-300-hsl);
                    width: auto;
                    opacity: 100%;

                }

                div.monthly-payment {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-100);
                    column-gap: var(--spacing-200);

                    p.tp-4{
                        color: var(--primary-color-300);
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 150%;
                        margin: 0;
                    }

                    p.tp-1 {
                        margin: 0;
                        color: var(--secondary-color);
                        font-size: 40px;
                        font-weight: bold;
                        line-height: auto;
                    }
                }

                div.total-term-payment {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-100);

                    p.tp-4{
                        color: var(--primary-color-300);
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 150%;
                        margin: 0;
                    }

                    p.tp-2 {
                        margin: 0;
                        color: var(--bg-color);
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 125%;
                    }
                }
            }
        }

        p.attribution {
            font-size: 8px;
            color: var(--bg-color);
            text-align: center;
            margin-bottom: 0;

            a {
                color: var(--primary-color-300);
            }
        }
    }

}


